<header class="site-header" role="banner">
  <a class="navbar-brand" href="/">{{site.title}}</a>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- if page_paths -%}
    <div id="navbar">
      <div class="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- <button class="navbar-toggle">toggle</button> -->
      <nav class="navbar-collapse">
        <ul class="navbar-nav">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li>
              <a class="page-link" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
            </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  {%- endif -%}
</header>
<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __Nav__ = {
        close: function(){
            $navbar.className = " ";
            $toggle.classList.remove('active')
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        },
        open: function(){
            $collapse.style.height = "auto"
            $navbar.className += " in";
            $toggle.classList.add('active')
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function(e){
        if ($navbar.className.indexOf('in') > 0) {
            __Nav__.close()
        }else{
            __Nav__.open()
        }
    })
    document.addEventListener('click', function(e){
        if(e.target == $toggle) return;
        // if(e.target.className == 'icon-bar') return;
        __Nav__.close();
    })
</script>
