$text-color: #314659 !default;
$background-color: #fdfdfd !default;
$font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif !default;
$font-size: 16px !default;
$font-size-xs: 12px !default;
$font-size-sm: 14px !default;
$font-weight: 400 !default;
$font-weight-header:500 !default;
$line-height: 1.5 !default;
$header-height: 56px !default;
$spacing-unit: 16px !default;

$on-palm: 576px !default;
$on-laptop: 768px !default;
$on-desktop: 992px !default;

$grey-color-light: #dee2e6;
