---
layout: default
---

<style type="text/css">
    header.site-cover{
        background-image: url("{{ page.cover | default: site.cover }}");
    }
    header.site-cover .cover-mask{
        background: rgba(0,0,0,.3);
    }
</style>
<header class="site-cover" >
    <div class="cover-mask"></div>
    <div class="wrapper">
      <div class="site-heading">
        <h1>{{page.title}}</h1>
        <pre style="text-align: right;border: none;font-size: 12px;">{{page.desc | default: ""}}</pre>
        <p>
          <time>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </p>
      </div>
    </div>
</header>
<div class="wrapper">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
